<div class="contact">
  <div class="row">
    <div class="contactpicture">
        <img src="./../assets/images/ReJOYCElogos/logo03.png" class="picturestyle">
    </div>

    <p><strong>ReJOYCE Academy</strong><br>
    P.O. Box 22995<br>
    Seattle, Washington 98122<br>
    (206) 326-8766<br>
    gtrotter11@gmail.com</p>
  </div>

  <div style="text-align:center" class="foot">
    <h5>&copy;2018 <img id="ReJOYCElog" src="./../assets/images/ReJOYCElogos/logo01.png" width="100"></h5>
  </div>
</div>