<div class="history">
  <p>
    history works!
  </p>

  <div class="historypictures">
    <img src="./../assets/images/ReJOYCE06.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE07.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE08.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE09.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE10.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE11.jpg" class="picturestyle">
    <img src="./../assets/images/ReJOYCE12.jpg" class="picturestyle">
  </div>

</div>