<div class="clinics">
  <div class="clinicstext">
    <h3>Clinics</h3>

    <h4>Look for upcoming clinics on our <a href="https://www.facebook.com/search/top/?q=rejoyce%20fundamentals%20academy">Facebook Events Page.</a></h4>

    <p>RFA clinics offer a thematic based comprehensive program for students in grades 6 – 12. Each clinic will provide: </p>

    <ul>
      <li>Basketball basics and beyond</li>
      <li>Mentorships that support life-skills at school and home</li>
      <li>Hands-on STEM (science, technology, engineering and math) activities</li>
      <li>Community service projects that teach the importance of serving others</li>
      <li>Partnership with local universities and NCAA Clearinghouse support for students who meet that criteria</li>
    </ul>
  </div>

  <div class="clincsstyle">
    <div class="row">
      <img src="./../assets/images/ReJOYCE02.jpg" class="picturestyle">
      <img src="./../assets/images/ReJOYCE03.jpg" class="picturestyle">
    </div>
    <div class="row">
      <img src="./../assets/images/ReJOYCE04.jpg" class="picturestyle">
      <img src="./../assets/images/ReJOYCE05.jpg" class="picturestyle">
    </div>
  </div>
</div>