<div class="clinics">
  <h3>Clinics</h3>

  <h4>Look for upcoming clinics on our Facebook Events Page.</h4>

  <p>RFA clinics offer a thematic based comprehensive program for students in grades 6 – 12. Each clinic will provide: </p>

  <ul>
    <li>Basketball basics and beyond</li>
    <li>Mentorships that support life-skills at school and home</li>
    <li>Hands-on STEM (science, technology, engineering and math) activities</li>
    <li>Community service projects that teach the importance of serving others</li>
    <li>Partnership with local universities and NCAA Clearinghouse support for students who meet that criteria</li>
  </ul>
</div>