<div class="intro">

  <div class="intropictures">
    <img src="./../assets/images/ReJOYCE01.jpg" class="picturestyle">
  </div>

  <h2>Knowledge is Game!</h2>
  
  <p>ReJOYCE Fundamentals Academy (RFA) is a non-profit organization dedicated 
    to supporting our youth on and off the court. Student athletes in our program 
    develop those essential qualities that contribute to life-long success while 
    becoming skilled basketball players and having fun! </p>
  
  <p>Coach Walker and her team work with our youth to teach them the importance of
     perseverance, cooperation, friendship, healthy choices and serving others. 
     Basketball is a powerful motivator to teach more than the game; we use it to 
     teach success in life! </p>
</div>
